.root {
    -fx-background-image: url('blackjackbackground.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}
.label {
    -fx-font-size: 20px;
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-padding: 5;
    -fx-alignment: center;
    -fx-font-weight: bold;
}
.button {
    -fx-font-size: 20px;
}
#cardBoxPlayer{
    -fx-border-color: yellow;
    -fx-border-width: 1px;
}
#cardBoxDealer {
    -fx-border-color: yellow;
    -fx-border-width: 1px;
}
.transparent-button {
    -fx-background-color: transparent;
}
